.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background-color: #e3e4df;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 15px;
}

.col-md-6,
.col-lg-4 {
  padding: 0 15px;
}

.bg-image img {
  max-width: 80%;
  height: auto;
}

.form-control {
  background-color: #ffffff !important;
  /* Garante o fundo branco */
  border: 1px solid #ccc;
  /* Adiciona borda cinza */
  color: #000;
  /* Garante texto preto */
  padding: 0.5rem 0.75rem;
  /* Ajuste do preenchimento interno */
  font-size: 1rem;
  border-radius: 4px;
  /* Adiciona bordas arredondadas */
}

.btn-primary {
  background-color: #0056b3;
  color: #fff;
}

.form-outline {
  position: relative;
  margin-bottom: 1rem;

  .form-control {
    border: 1px solid #ccc;
    padding: 0.5rem 0.75rem;
    background-color: #ffffff;
    color: #000;
    font-size: 1rem;
  }

  .floating-label {
    position: absolute;
    top: 0.5rem;
    left: 0.75rem;
    font-size: 1rem;
    color: #777;
    transition: all 0.3s ease;
    pointer-events: none;
  }

  .form-control:focus+.floating-label,
  .form-control:not(:placeholder-shown)+.floating-label {
    top: -0.75rem;
    left: 0.5rem;
    font-size: 0.75rem;
    color: #333;
    background-color: #fff;
    padding: 0 0.25rem;
  }
}

.footer {
  background-color: #e3e4df;
  color: #333;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}