<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
</head>
<style>
</style>

<body>

  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"></a>
  </nav>

  <div class="container d-flex justify-content-center mt-5">
    <div class="col-md-6 col-lg-4">
      <div class="bg-image hover-overlay ripple">
        <a href="#" target="_blank">
          <img src="https://files.oaiusercontent.com/file-8zOlILNhIixI0sCjcUfeQ8Hh?se=2024-10-29T23%3A20%3A38Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3Dfe09f846-0d71-443c-bf13-10440d374c0a.webp&sig=m19bkt1AeBBxDuFsJlRiXNYwYvMKCterPSpJ%2Bv7VjVA%3D" alt="Reserva Fácil" class="img-fluid" />
        </a>
      </div>

      <div>
        <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="tab-login"
              role="tab"
              (click)="navigateTo('login')"
              aria-controls="pills-login"
              aria-selected="true"
            >
              Login
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="tab-register"
              role="tab"
              (click)="navigateTo('registrar')"
              aria-controls="pills-register"
              aria-selected="false"
            >
              Cadastrar
            </button>
          </li>
        </ul>
      </div>
      <!-- Email input -->
      <div class="form-outline mb-4">
          <input type="email" id="loginEmail" class="form-control" required />
          <label class="form-label" for="loginEmail">E-mail</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
          <input type="password" id="loginPassword" class="form-control" required />
          <label class="form-label" for="loginPassword">Senha</label>
      </div>
              <!-- Submit button -->
              <button type="button" class="btn btn-primary btn-block mb-4" (click)="navigateTo('home')">Entrar</button>
              
            </div>
    </div>
  

  <footer class="text-center p-3">
    © 2024 Reserva Fácil. Todos os direitos reservados.
  </footer>
</body>
</html>



    


