<nav class="navbar navbar-expand-lg">
  <div class="container d-flex justify-content-between align-items-center">
    <a class="navbar-brand mx-auto" href="#">
      <img src="assets/reservafacil.png" alt="Reserva Fácil" class="navbar-logo" />
    </a>
    <button class="nav-link btn logout-btn" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i> Sair
    </button>
  </div>
</nav>


<div class="background-container">
<div class="container mt-5">
    <div class="text-center mb-4">
        <h2 class="text-muted">Bem-vindo ao Reserva Fácil!</h2>
        <p class="lead">Gerencie facilmente quartos, reservas e clientes do hotel.</p>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm" style="background-color: #f9ebea;">
                <img src="assets/cadusuario.jpeg" class="card-img-top" alt="Cadastrar Pessoa">
                <div class="card-body">
                    <h5 class="card-title">Cadastrar Usuário</h5>
                    <p class="card-text">Registre novos clientes no sistema para facilitar as reservas.</p>
                    <button class="btn btn-block" style="background-color: #fadbd8; color: #333;" (click)="navigateTo('registrar')">Acessar </button>
                </div>
            </div>
        </div>
    
        <div class="col-md-3" *ngIf="isAdmin">
            <div class="card mb-4 shadow-sm" style="background-color: #e8f8f5;">
                <img src="assets/cadhotel.jpeg" class="card-img-top" alt="Cadastrar Hotel">
                <div class="card-body">
                    <h5 class="card-title">Cadastrar Hotel</h5>
                    <p class="card-text">Adicione novos hotéis e mantenha as informações atualizadas.</p>
                    <button class="btn btn-block" style="background-color: #d1f2eb; color: #333;" (click)="navigateTo('cadastrar-hotel')">Acessar</button>
                </div>
            </div>
        </div>
    
        <div class="col-md-3" *ngIf="isAdmin">
            <div class="card mb-4 shadow-sm" style="background-color: #fcf3cf;">
                <img src="assets/cadquarto.jpeg" class="card-img-top" alt="Cadastrar Quarto">
                <div class="card-body">
                    <h5 class="card-title">Cadastrar Quarto</h5>
                    <p class="card-text">Adicione novos quartos e atualize as informações de disponibilidade.</p>
                    <button class="btn btn-block" style="background-color: #fef9e7; color: #333;" (click)="navigateTo('cadastrar-quarto')">Acessar</button>
                </div>
            </div>
        </div>
    
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm" style="background-color: #f4ecf7;">
                <img src="assets/cadreserva.jpeg" class="card-img-top" alt="Cadastrar Reserva">
                <div class="card-body">
                    <h5 class="card-title">Cadastrar Reserva</h5>
                    <p class="card-text">Gerencie reservas de clientes de forma prática e rápida.</p>
                    <button class="btn btn-block" style="background-color: #fadbd8; color: #333;" (click)="navigateTo('cadastrar-reserva')">Acessar</button>
                </div>
            </div>
        </div>

        <!-- Card: Gerenciar Clientes -->
      <div class="col-md-3">
        <div class="card mb-4 shadow-sm" style="background-color: #e6e6fa;">
          <img src="assets/gerenciarClientes.jpeg" class="card-img-top" alt="Gerenciar Clientes">
          <div class="card-body">
            <h5 class="card-title">Gerenciar Clientes</h5>
            <p class="card-text">Visualize e edite informações dos clientes.</p>
            <button class="btn btn-block" style="background-color: #d8bfd8; color: #333;" (click)="navigateTo('gerenciar-cliente')">Acessar</button>
          </div>
        </div>
      </div>

      <!-- Card: Gerenciar Hotel (Apenas para Admin) -->
      <div class="col-md-3" *ngIf="isAdmin">
        <div class="card mb-4 shadow-sm" style="background-color: #e8f8f5;">
          <img src="assets/gerenciar-hotel.jpeg" class="card-img-top" alt="Gerenciar Hotel">
          <div class="card-body">
            <h5 class="card-title">Gerenciar Hotel</h5>
            <p class="card-text">Gerencie as informações do hotel.</p>
            <button class="btn btn-block" style="background-color: #d1f2eb; color: #333;" (click)="navigateTo('gerenciar-hotel')">Acessar</button>
          </div>
        </div>
      </div>

      <!-- Card: Gerenciar Quarto (Apenas para Admin) -->
      <div class="col-md-3" *ngIf="isAdmin">
        <div class="card mb-4 shadow-sm" style="background-color: #fcf3cf;">
          <img src="assets/gerenciar-quarto.jpeg" class="card-img-top" alt="Gerenciar Quarto">
          <div class="card-body">
            <h5 class="card-title">Gerenciar Quarto</h5>
            <p class="card-text">Gerencie os quartos disponíveis no hotel.</p>
            <button class="btn btn-block" style="background-color: #fef9e7; color: #333;" (click)="navigateTo('gerenciar-quarto')">Acessar</button>
          </div>
        </div>
      </div>

      <!-- Card: Gerenciar Reserva -->
      <div class="col-md-3">
        <div class="card mb-4 shadow-sm" style="background-color: #f4ecf7;">
          <img src="assets/gerenciar-reserva.jpeg" class="card-img-top" alt="Gerenciar Reserva">
          <div class="card-body">
            <h5 class="card-title">Gerenciar Reserva</h5>
            <p class="card-text">Gerencie as reservas dos clientes.</p>
            <button class="btn btn-block" style="background-color: #fadbd8; color: #333;" (click)="navigateTo('gerenciar-reserva')">Acessar</button>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>


<footer class="footer">
    © 2024 Reserva Fácil. Todos os direitos reservados.
</footer>
