.background-container {
    background-color: #fcfcfc7d; /* Tom neutro e suave */
    color: #333;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  
    /* Leve sobreposição para suavizar o fundo */
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3); /* Leve escurecimento */
      z-index: -1;
    }
  }
  
  
  .main-container {
    background-color: #f7f7f9;
    color: #333;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .footer {
    background-color: #a9d1d9af; 
    color: #333;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
   
  }
  
  .text-muted {
    color: #2b2b2b; /* Um tom de cinza escuro para destacar o título */
    font-size: 2rem; /* Tamanho de fonte maior para dar mais ênfase */
    font-weight: bold; /* Deixa o título mais visível */
    text-align: center;
    margin-bottom: 0.5rem;
  }
  
  .lead {
    color: #050505; /* Tom um pouco mais escuro que o fundo para contraste */
    font-size: 1.2rem; /* Tamanho de fonte para destacar sem exagero */
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  
  .card {
    border-radius: 8px;
  }
  
  .card-body h5 {
    color: #333;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-title {
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  
  .navbar-brand:hover, .nav-link:hover {
    color: #555 !important;
  }
  
  .navbar {
    background-color: #a9d1d9;
  }
  
  
  .navbar-logo {
    width: 40px;
    height: auto; 
  }
  
  
  .navbar-brand, .nav-link {
    color: #333 !important;
  }
  