<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand mx-auto" href="#">Reserva Fácil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<!-- Welcome Section -->
<div class="container mt-5">
    <div class="text-center mb-4">
        <h2 class="text-muted">Bem-vindo ao Reserva Fácil!</h2>
        <p class="lead">Gerencie facilmente quartos, reservas e clientes do hotel.</p>
    </div>

    <!-- Card Section -->
    <div class="row">
        <!-- Card: Cadastrar Pessoa -->
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm" style="background-color: #f9ebea;">
                <img src="https://files.oaiusercontent.com/file-X6LZ59BLwNFAqSAfC95j2i2K?se=2024-10-31T03%3A14%3A30Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3Defb68322-e900-4890-b36c-e28ba1153e57.webp&sig=W26FJ/izgIoMcUaYlZsP29/PiRGBATwe24tzqQn5cMw%3D" class="card-img-top" alt="Cadastrar Pessoa">
                <div class="card-body">
                    <h5 class="card-title">Cadastrar Usuário</h5>
                    <p class="card-text">Registre novos clientes no sistema para facilitar as reservas.</p>
                    <button [routerLink]="['/cadastrar-usuario']" class="btn btn-block" style="background-color: #fadbd8; color: #333;">
                        Acessar
                      </button>
                </div>
            </div>
        </div>

        <!-- Card: Cadastrar Hotel -->
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm" style="background-color: #e8f8f5;">
                <img src="https://files.oaiusercontent.com/file-4nugcddR1laUofTffxpEgK83?se=2024-10-31T02%3A58%3A39Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3Da6ec1a58-3ee7-4c24-b96a-2f7df3dec65d.webp&sig=5bOaw0taZRk/FWNrIlB9Y%2BYOpjCg3t/6zsyG3TKuqrU%3D" class="card-img-top" alt="Cadastrar Hotel">
                <div class="card-body">
                    <h5 class="card-title">Cadastrar Hotel</h5>
                    <p class="card-text">Adicione novos hotéis e mantenha as informações atualizadas.</p>
                    <button [routerLink]="['/cadastrar-hotel']" class="btn btn-block" style="background-color: #d1f2eb; color: #333;">
                        Acessar
                      </button>                
                 </div>
            </div>
        </div>

        <!-- Card: Cadastrar Quarto -->
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm" style="background-color: #fcf3cf;">
                <img src="https://files.oaiusercontent.com/file-ERhaVWllVEzBcLS6tIMK7H46?se=2024-10-31T03%3A12%3A57Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3Da4e7a3d7-cabb-4b1d-b7f9-bbff3e831c9e.webp&sig=O/P6I%2BBFraoUStvCFpnLJtpVkIpsR2d%2BQTygNpayXXU%3D" class="card-img-top" alt="Cadastrar Quarto">
                <div class="card-body">
                    <h5 class="card-title">Cadastrar Quarto</h5>
                    <p class="card-text">Adicione novos quartos e atualize as informações de disponibilidade.</p>
                    <button [routerLink]="['/cadastrar-quarto']" class="btn btn-block" style="background-color: #fef9e7; color: #333;">
                        Acessar
                      </button>                
                </div>
            </div>
        </div>

        <!-- Card: Cadastrar Reserva -->
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm" style="background-color: #f4ecf7;">
                <img src="https://files.oaiusercontent.com/file-vIlOnaOxXeTSOW2tfdYRmsCT?se=2024-10-31T03%3A11%3A02Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D75c9f785-a95d-429d-998c-9b25b5914404.webp&sig=W9mZUIIeJczo2g8EcAY8q/uZZC22bFD1I2%2B6jOm2/2s%3D" class="card-img-top" alt="Cadastrar Reserva">
                <div class="card-body">
                    <h5 class="card-title">Cadastrar Reserva</h5>
                    <p class="card-text">Gerencie reservas de clientes de forma prática e rápida.</p>
                    <button [routerLink]="['/cadastrar-reserva']" class="btn btn-block" style="background-color: #f5eef8; color: #333;">
                        Acessar
                      </button>            
            </div>
        </div>
    </div>
</div>


<footer class="text-center p-3">
    © 2024 Reserva Fácil. Todos os direitos reservados.
</footer>
