<div class="main-container">
  <div class="container d-flex justify-content-center mt-5">
    <div class="col-md-6 col-lg-4">
      <div class="bg-image hover-overlay ripple">
        <a href="#" target="_blank">
          <img src="assets/reservafacil.png" alt="Reserva Fácil" class="img-fluid" />
        </a>
      </div>

      
      <div class="form-outline mb-4">
        <input type="number" [(ngModel)]="clienteId" id="clienteIdInput" class="form-control" placeholder=" " required />
        <label class="floating-label" for="clienteIdInput">ID do Cliente</label>
      </div>


      <button type="button" class="btn btn-info btn-block mb-2" (click)="verDetalhes()">Ver Detalhes</button>
      <button type="button" class="btn btn-primary btn-block mb-2" (click)="editarCliente()">Alterar Cliente</button>
      <button type="button" class="btn btn-danger btn-block mb-2" (click)="excluirCliente()">Excluir</button>
      <button type="button" class="btn btn-secondary btn-block mb-4" (click)="listarClientes()">Listar Todos</button>


      <div *ngIf="isLoading" class="d-flex justify-content-center mb-4">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Carregando...</span>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="showEditModal" class="modal-overlay">
    <div class="modal-content">
      <h5>Editar Cliente</h5>
      <div class="form-outline mb-3">
        <label class="floating-label" for="nome">Nome</label>
        <input type="text" [(ngModel)]="editForm.nome" id="nome" class="form-control" />
      </div>
      <div class="form-outline mb-3">
        <label class="floating-label" for="email">E-mail</label>
        <input type="email" [(ngModel)]="editForm.email" id="email" class="form-control" />
      </div>
      <button type="button" class="btn btn-success btn-block" (click)="salvarEdicao()">Salvar Alterações</button>
      <button type="button" class="btn btn-secondary btn-block" (click)="fecharModal()">Fechar</button>
    </div>
  </div>


  <div *ngIf="showDetailsModal" class="modal-overlay">
    <div class="modal-content">
      <h5>Detalhes do Cliente</h5>
      <p><strong>Nome:</strong> {{ clienteSelecionado?.nome }}</p>
      <p><strong>E-mail:</strong> {{ clienteSelecionado?.email }}</p>
      <button type="button" class="btn btn-secondary btn-block" (click)="fecharModal()">Fechar</button>
    </div>
  </div>

  <div *ngIf="showListAllModal" class="modal-overlay">
    <div class="modal-content">
      <h5>Lista de Todos os Clientes</h5>
      <div *ngFor="let cliente of clientes">
        <p><strong>ID:</strong> {{ cliente.id }} - <strong>Nome:</strong> {{ cliente.nome }} - <strong>E-mail:</strong> {{ cliente.email }}</p>
      </div>
      <button type="button" class="btn btn-secondary btn-block" (click)="fecharModal()">Fechar</button>
    </div>
  </div>

  <footer class="footer">
    © 2024 Reserva Fácil. Todos os direitos reservados.
  </footer>
</div>
